/* variables */

/* Color
-------------------------- */
$-color-primary: #fff;
$-color-blank: #666;
$-color-border: #ebebeb;
$-color-border-primary: #eee;
$-color-border-dashed: #f0f0f0;
$-color-border-focus: #b9b9b9;

/* Font
-------------------------- */
$-fontsize-primary: 16px;
$-fontsize-big: 18px;


