.article{
    flex: 1;
    padding: 30px !important;
    padding-top: 35px !important;
    // padding-bottom: 30px;
    .articlewrap{
        margin-top: 40px;
        .title{
            width: 60%;
            ::v-deep .el-input__inner{
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-radius: 0;
            }
        }
        .markdown{
            margin-top: 25px;
            border: 1px solid #eee;
            border-radius: 5px;
            ::v-deep .markdown-body{
                height: 55vh;
            }

        }
        .uploadArea{
            display: flex;
            align-items: center;
            padding-top: 35px;
            padding-bottom: 25px;
            .tips{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .preview{
                display: block;
                width: 100%;
                height: 100%;
            }
            li{
                &:last-child{
                    margin-left: 40px;
                }
                .icon--music, .icon--fengmian{
                    width: 45px;
                    height: 45px;
                    color: #d81e06;
                }
                .icon--text{
                    color: #d81e06;
                    font-size: 14px;
                    margin-top: 10px;
                }
                .icon--fengmian + .icon--text{
                    color: #1296db;
                }
            }
            ::v-deep{
                .el-upload-dragger{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        .icon--music,.icon--text{
                            // color: #409EFF;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
        .extraInput{
            padding-top: 25px;
            width: 60%;
            overflow: hidden;
            ::v-deep{
                .el-input__inner{
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-radius: 0;
                }
            }
        }
        .switch--box{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            font-size: 0;
            span{
                font-size: 14px;
                margin-left: 10px;
                color: #909399;
            }
        }
    }
}

// element-ui
.articlewrap{
    .el-form-item{
        margin-bottom: 28px;
        ::v-deep .el-form-item__error{
            padding-top: 10px;
        }
    }
}

@media only screen and (max-width: 1366px) {
    .markdown{
        margin-top: 25px !important;
    }
    .articlewrap{
        margin-top: 20px !important;
    }
}