.login__wrap{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .bubbles__wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom right, #50A3A2,#42b983 80%, #53E3A6);
        li{
            animation: bubbling 4s linear infinite;
            position: absolute;
            bottom: -60px;
            @keyframes bubbling {
                0% {
                    opacity: 0;
                    bottom: 0;
                    transform: rotate(0deg);
                }
                50%{
                    opacity: 1;
                    bottom: 30%;
                    transform: rotate(120deg);
                }
                100%{
                    opacity: 0;
                    bottom: 50%;
                    transform: rotate(240deg);
                }
            }
            &.circle{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #53E3A6;
            }
            &.rect{
            }
        }
    }
    .formData{
        .sign{
            width: 380px;
            padding: 40px 0 24px;
            min-height: 250px;
            background-color: rgba(255,255,255, 0.8);
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            box-shadow: 0 2px 10px #e6e6e6;
            &__tips{
                text-align: center;
                font-size: 24px;
            }
            &__content{
                margin-top: 10px;
                padding: 20px 50px 10px;
                img{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    &.normal{
                        top: -80px;
                    }
                }
                .custom__form--item{
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                    ::v-deep .el-form-item__content{
                        flex: 1;
                    }
                    &.username{
                        img{
                            display: none;
                        }
                        &:focus-within ~ img {
                            display: none;
                        }
                        &:focus-within{
                            img{
                                display: block;
                                top: -181px;
                            }
                        }
                    }
                    &.password{
                        img{
                            display: none;
                        }
                        &:focus-within ~ img {
                            display: none;
                        }
                        &:focus-within{
                            img{
                                display: block;
                                top: -222px;
                            }
                        }
                    }
                }
            }
            &__btn{
                text-align: center;
                // padding: 0 20px;
                display: flex;
                padding: 0 50px;
                ::v-deep .el-button{
                    flex: 1;
                    span{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}