.web{
    .main{
        margin-top: 40px;
        ::v-deep{
            .el-input__inner{
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-radius: 0;
            }
        }
        .formData{
            padding-top: 15px;
            padding-bottom: 15px;
            width: 60%;
        }
        .aboutFormData{
            width: 60%;
            .el-form-item{
                display: flex;
                align-items: flex-end;
                padding-top: 15px;
                ::v-deep{
                    .el-form-item__content{
                        flex: 1;
                        
                    }
                    .el-form-item__label{
                        width: 140px;
                        text-align: left;
                        font-family: DIN;
                        font-size: 15px;
                        text-transform: capitalize;
                    }
                }
            }
            .custom_slider{
                margin-bottom: 3px;
                padding-top: 3px;
                
            }
            .btnwrap{
                .el-button + .el-button{
                    margin-left: 13px;
                }
                .danger{
                    color: #F56C6C;
                }
            }
        }
    }
}