
/* Size
-------------------------- */
$--size-base: 100px !default;

/* Color
-------------------------- */
$--color-white: #fff !default;
$--color-gray: #e8e8e8 !default;
$--color-gray-light: #949494 !default;
$--color-primary: #333 !default;
