.app{
    min-height: 100vh;
    // background-color: #98bf21;
    animation: fade 0.4s ease-in-out;
    &.about{
        // background-color: #98bf21;
        background-color: #CCCC33;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
