.about{
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    // background-image: url('./assets/images/about/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    
    &.refresh{
        animation: side-left 1.3s ease-in-out;
    }
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 75vh;
        z-index: 9;
        border-radius: 40px;
        max-width: 1300px;
        max-height: 600px;
        box-shadow: 1px 1px 1px 1px rgba(7,57,138, .6), -1px -1px 1px 1px rgba(7,57,138, .6);
        display: flex;
        justify-content: space-between;
        .userinfo,.skill{
            height: 100%;
        }
        .userinfo{
            // position: relative;
            width: 200px;
            flex: 0 0 200px;
            padding: 16px;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            .avatar{
                width: 100px;
                height: 100px;
                border: 1px solid #ccc;
                border-radius: 50%;
                margin: auto;
                display: block;
                cursor: pointer;
                transition: all 60s cubic-bezier(.39,.01,1,.59);
                flex: 0 0 100px;
                
            }
            .username {
                font-size: 17px;
                color: #000;
                text-align: center;
                margin-top: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 15px;
                cursor: pointer;
                flex: 0 0 15px;
            }
            >ol{
                flex: 1;
                margin-top: 15px;
                overflow-y: auto;
            }
            &__item{
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    color: #000;
                    margin-left: 12px;
                    font-size: 14px;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            
        }
        .skill{
            flex: 1;
            position: relative;
            border-radius: 40px;
            // border-color:  rgb(7,57,138);
            // border-left: 1px solid;
            box-shadow: -1px 0px 0px 1px rgba(7,57,138, .6);
            .circle{
                position: absolute;
                width: 100px;
                height: 100px;
                right: 20%;
                bottom: -60px;
                border-radius: 50%;
                // background-color: red;
                box-shadow: -1px -1px 2px #000;
                background-image: linear-gradient(135deg, rgb(61,173,195) 30%, rgb(23,89,143));
                // opacity: .6;
                cursor: pointer;
                ::v-deep .icon{
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: -37px;
                }
            }
            &__content{
                height: 100%;
                width: 100%;
                padding: 16px;
                padding-top: 24px;
                &:hover{
                    cursor: pointer;
                }
                .title{
                    text-align: right;
                    font-size: 17px;
                }
                > p {
                    margin-bottom: 10px;
                    text-indent: 2em;
                }
                .descript{
                    height: 32%;
                    padding-top: 30px;
                    transition: all 1s ease-in-out;
                    // position: absolute;
                    position: relative;
                    // color: #98bf21;
                    // background-image: linear-gradient(to right, #F16F5C 0%, #F16F5C 12.5%, #5B56DD 12.5%, #5B56DD 25%, #E15CED 25%, #E15CED 37.5%, #27E559 37.5%, #27E559 50%, #18C8C9 50%, #18C8C9 62.5%, #DC8987 62.5%, #DC8987 75%, #BB83D6 75%, #BB83D6 87.5%, #E774BD 87.5%, #E774BD 100%);
                    .timeline{
                        text-align: right;
                        // margin-top: 10px;
                        position: absolute;
                        bottom: 5%;
                        right: 10%;
                        .year{
                            color: red;
                        }
                        .month{
                            color: green;
                        }
                        .day{
                            color: blue;
                        }
                    }
                }
                .progress{
                    width: 60%;
                    height: 68%;
                    overflow-y: auto;
                    code{
                        font-size: 14px;
                    }
                    ::v-deep .el-progress-bar__outer{
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

#container{
    width: 500px;
    height: 500px;
}
.heartbeat{
    animation: heartbeat 1s infinite linear;
}

@keyframes heartbeat {
    0%{
        transform: translate3d(0, 0, 0);
    }
    25%{
        transform: translate3d(0, -8px, 0);
    }
    50%{
        transform: translate3d(0, -16px, 0);
    }
    75%{
        transform: translate3d(0, -8px, 0);
    }
    
    100%{
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes side-left{
    0%{
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
