.index{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    .canvas{
        cursor: pointer;
    }
    .tips{
        font-size: 15px;
        position: absolute;
        top: 25px;
        left: 30px;
        p{
            color: red;
            margin-bottom: 15px;
        }
    }
}